USE [master]
GO
/****** Object:  Database [QUANLINHAHANG]    Script Date: 11/29/2018 12:34:25 ******/
CREATE DATABASE [QUANLINHAHANG] ON  PRIMARY 
( NAME = N'QUANLINHAHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QUANLINHAHANG.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLINHAHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QUANLINHAHANG_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLINHAHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLINHAHANG]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/29/2018 12:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [nvarchar](255) NOT NULL,
	[TenNhanVien] [nvarchar](255) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[SoDienThoai] [nvarchar](255) NOT NULL,
	[ChucVu] [nvarchar](255) NOT NULL,
	[Luong] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON
INSERT [dbo].[NhanVien] ([ID], [MaNhanVien], [TenNhanVien], [NgaySinh], [GioiTinh], [SoDienThoai], [ChucVu], [Luong], [DiaChi]) VALUES (35, N'NV001', N'Tran Viet Truong', CAST(0x00008C6C00000000 AS DateTime), N'Nam', N'0333100001', N'Nhan Vien', N'10000455', N'Hung Yen')
INSERT [dbo].[NhanVien] ([ID], [MaNhanVien], [TenNhanVien], [NgaySinh], [GioiTinh], [SoDienThoai], [ChucVu], [Luong], [DiaChi]) VALUES (36, N'NV002', N'Tran Viet Truong', CAST(0x00008C6C00000000 AS DateTime), N'Nam', N'0333100001', N'Nhan Vien', N'10000455', N'Hung Yen')
INSERT [dbo].[NhanVien] ([ID], [MaNhanVien], [TenNhanVien], [NgaySinh], [GioiTinh], [SoDienThoai], [ChucVu], [Luong], [DiaChi]) VALUES (37, N'NV003', N'Tran Viet Truong', CAST(0x00008C6C00000000 AS DateTime), N'Nam', N'0333100001', N'Nhan Vien', N'10000455', N'Hung Yen')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
/****** Object:  Table [dbo].[MONAN]    Script Date: 11/29/2018 12:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nvarchar](255) NOT NULL,
	[DonViTinh] [nvarchar](255) NOT NULL,
	[Gia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MONAN] ON
INSERT [dbo].[MONAN] ([ID], [TenMonAn], [DonViTinh], [Gia]) VALUES (40, N'Thịt Lợn Quay Xá Xíu', N'Đĩa', 118000)
INSERT [dbo].[MONAN] ([ID], [TenMonAn], [DonViTinh], [Gia]) VALUES (41, N'Thịt Ba Chỉ Kho Tộ', N'Đĩa', 78000)
INSERT [dbo].[MONAN] ([ID], [TenMonAn], [DonViTinh], [Gia]) VALUES (42, N'Chân Giò Nướng', N'Đĩa', 98000)
SET IDENTITY_INSERT [dbo].[MONAN] OFF
/****** Object:  Table [dbo].[BAN]    Script Date: 11/29/2018 12:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](255) NOT NULL,
	[TrangThai] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAN] ON
INSERT [dbo].[BAN] ([ID], [TenBan], [TrangThai]) VALUES (50, N'Bàn 1', N'Trống')
INSERT [dbo].[BAN] ([ID], [TenBan], [TrangThai]) VALUES (51, N'Bàn 2', N'Trống')
INSERT [dbo].[BAN] ([ID], [TenBan], [TrangThai]) VALUES (53, N'Bàn 4', N'Trống')
SET IDENTITY_INSERT [dbo].[BAN] OFF
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/29/2018 12:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDBan] [int] NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[NgayThanhToan] [datetime] NULL,
	[SoTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON
INSERT [dbo].[HoaDon] ([ID], [IDBan], [TinhTrang], [NgayThanhToan], [SoTien]) VALUES (269, 50, 1, CAST(0x0000A98D00000000 AS DateTime), 126000)
INSERT [dbo].[HoaDon] ([ID], [IDBan], [TinhTrang], [NgayThanhToan], [SoTien]) VALUES (271, 78, 1, CAST(0x0000A98D00000000 AS DateTime), 272000)
INSERT [dbo].[HoaDon] ([ID], [IDBan], [TinhTrang], [NgayThanhToan], [SoTien]) VALUES (272, 59, 1, CAST(0x0000A98D00000000 AS DateTime), 966000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
/****** Object:  Table [dbo].[HoaDonInFo]    Script Date: 11/29/2018 12:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonInFo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHoaDon] [int] NOT NULL,
	[IDMonAn] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__BAN__TrangThai__014935CB]    Script Date: 11/29/2018 12:34:26 ******/
ALTER TABLE [dbo].[BAN] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
/****** Object:  ForeignKey [FK__HoaDon__TinhTran__09DE7BCC]    Script Date: 11/29/2018 12:34:26 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IDBan])
REFERENCES [dbo].[BAN] ([ID])
GO
/****** Object:  ForeignKey [FK__HoaDonInF__IDMon__0F975522]    Script Date: 11/29/2018 12:34:26 ******/
ALTER TABLE [dbo].[HoaDonInFo]  WITH CHECK ADD FOREIGN KEY([IDMonAn])
REFERENCES [dbo].[MONAN] ([ID])
GO
/****** Object:  ForeignKey [FK__HoaDonInF__SoLuo__0EA330E9]    Script Date: 11/29/2018 12:34:26 ******/
ALTER TABLE [dbo].[HoaDonInFo]  WITH CHECK ADD FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([ID])
GO
